{% extends 'base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}

    <div class="info">
        <h1>{{ book.title }}</h1>
        <hr>
        <h5>Автор: {{ book.author.name }}</h5>
        <hr>
        <p>Дата публикации: {{ book.published_date }}</p>

        <a href="{% url 'books_list' %}"> Назад к списку книг</a>
        <a href="{% url 'book_update' book.pk %}"> Редактировать</a>
        <a href="{% url 'book_delete' book.pk %}"> Удалить</a>
    </div>


{% endblock %}